@tailwind base;
@tailwind components;

.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    visibility: hidden;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;
  }

  &[x-placement^="right"] {
    margin-left: 5px;
  }

  &[x-placement^="left"] {
    top: 30px !important;
    left: auto !important;
    right: 0px !important;
    margin: 0px !important;
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 0;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.v-popover--block,
.v-popover--block > .trigger {
  display: block !important;
}

.v--modal {
  @apply shadow-sm rounded-lg shadow-xl transform transition-all;
}
@tailwind utilities;